DATABASE_URL="postgresql://user:password@localhost:5432/campaigniq"
JWT_SECRET="your-super-secret-jwt-key-change-this"
PORT=5000
EMAIL_SERVICE_URL="https://your-emailvercel.vercel.app"
STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_your_stripe_webhook_secret"
REDIS_URL="redis://localhost:6379"
FRONTEND_URL="http://localhost:3000"
DIRECT_URL=postgressdirect url
